:root {
    scroll-behavior: smooth;
  }
  
  .body {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .header {
    background-color: rgba(255, 186, 59, 0.863);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 #20232a80;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    padding: 0.60rem 2rem;
    margin: auto;
  }
  
  .header-nav__link-logo-container {
    max-width: 5rem;
  }
  .header-nav__menu-icon {
    font-size: 2rem;
    color: skyblue;
    cursor: pointer;
    transition: all 0.5s;
  }
  .header-nav__menu-icon:hover {
    font-size: 2.5rem;
    filter: brightness(250%);
    color: rgb(43, 43, 255);
  }
  .header-nav__menu-checkbox {
    display: none;
  }
  .header-nav__menu-checkbox:checked+.header-nav__link-list {
    left: 0;
  }
  .header-nav__logo {
    width: 4rem;
    height: 4rem;
    opacity:0.7;
    filter:alpha(opacity=40);
  }
  .img {
    max-width: 100%;
  }
  
  .header-nav__link-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 6.5rem;
    left: 100%;
    width: 100%;
    height: 100%;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    background-color: white;
  }
  
  .header-nav__link-item {
    list-style: none;
  }
  
  .header-nav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: #282c34;
    transition: all 0.25s;
  }
  
  .header-nav__link:hover {
    color: #61dafb;
    border-bottom: 0.25rem solid gold;
  }
  .bienvenida__imagen-container {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: inline-block;
    text-align: center;
    flex-direction: column;
  }

  .bienvenida__portada {
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    position: relative;
    }
  .texto_bienvenida-intro{
    text-align: center;
    align-items: center;
    align-content: center;
    background-position: center center;
    display: flex;
    justify-content: center;
  }
  .bienvenida__titulo {
    color: rgb(235, 229, 229);
    font-size: 9.2rem;
    animation: bounce;
    animation-duration: 2s;
    transform: translate(-50%,-50%);
    position: absolute;
    text-shadow: 0.4rem 0.2rem 0 rgba(255, 156, 57, 0.952);
    align-items: center;
    align-content: center;
    display: inline-block;
    overflow: hidden;
    top: 35%;
  }
  .bienvenida__intro{
    color: white;
    top: 0;
    font-size: 3rem;
    animation: bounce; 
    animation-duration: 2s;
    transform: translate(-50%,-50%);
    position: absolute;
    align-items: center;
    align-content: center;
    text-shadow: 0.2rem 0.2rem 0 rgb(63, 73, 77);
    display: inline-block;
    overflow: hidden;
    top: 55%;
  }
  .productos {
    text-align: center;
    margin: auto;
  }
  .productos-container{
    padding: 2rem 2rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
  }
  .productos__products{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);
    padding: 0;
    background-color: rgba(255, 166, 0, 0.11);
    border-radius: 20px 20px;
    margin: 2rem;
  }
  .productos-container-intro{
    background-color: rgba(253, 221, 36, 0.527);
    box-shadow: 5px 10px orange;
    border-radius: 20px 20px;
    margin: 2rem;
    font-weight: bold;
    padding: 2rem;
    font-size: 5rem;
  
  }
  .productos-container-intro-indicaciones{
    font-size: 0.8rem;
  }
  .productos__products-container{
    flex:1rem;
    justify-content: center;
    display: inline-block;
    align-items: center;
    font-size: 1.5rem;
    color: #619efb;
    padding: 1rem;
    background-color: rgba(253, 221, 36, 0.527);
    border-radius: 20px 20px;
    box-shadow: 5px 10px orange;
    margin: 3rem;
    font-weight: 400;
    font-weight: bold;

  }
  .productos__products-image{
    width: 7rem;
    height: 7rem;
    background-color: white;
    justify-content: center;
    border-radius: 100%;
    object-fit: cover;
    padding: 2rem;
    object-position: center center;
  }


  .productos__products-image-container{
    display: flex;
    margin: auto;
    object-fit: cover;
    padding: 0;
    object-position: center center;
    height: auto;
    border: 0.4rem solid rgb(255, 196, 0);
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.5s;
    justify-content: center;
  }
  
  .productos__products-image-container:hover {
        box-shadow: 0 0 0 0.20rem rgb(255, 196, 0);
      }
      

  .productos__products-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform:uppercase;
    margin: 0 2rem;
    color: #282c34;
    font-size: 1.4rem;
    text-shadow: 0.2rem 0.2rem 0 rgba(63, 73, 77, 0.253);
  }
  .productos__title{
    text-transform:uppercase;
    margin: 2rem;
    font-size: 2rem;
    text-shadow: 0.3rem 0.2rem 0 rgb(235, 192, 75);
    font-weight: bold;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .ofertas{
    display: inline-flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 1rem 1rem;
    object-position: center center;
    align-self: center;
  }
  .oferta{
    background-color: rgba(253, 220, 36, 0.39);
    border-radius: 20px 20px;
    box-shadow: 5px 10px orange;
    justify-content: center;
    align-content: center;
    border-radius: 5%;
    flex-direction: column;
    padding: 1rem;
    object-position: center center;
    align-self: center;
    margin: 1rem;
  }
  .ofertas-imagen{
    width: 25rem;
    height: 12rem;
    margin: 0;
    border-radius: 5%;
    justify-content: center;
    align-content: center;
    object-position: center center;
    transition: all 0.5s;
  }
  .oferta-imagen:hover {
    box-shadow: 0 0 0 0.6rem rgb(255, 196, 0);
    border-radius: 5%;
  }
  .oferta-titulo{
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-position: center center;
  }
  .oferta-texto{
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-position: center center;
  }
  .texto-ofertas{
    padding: 0 1.5rem;
  }
  .contacto {
    text-align: center;
    padding: 2rem 2rem;
  }
  
  .contacto-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    max-width: 64rem;
    margin: auto;
  }
  
  .contacto__tittle {
    margin: 0;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem 0 rgba(53, 52, 49, 0.459);
  }
  
  .contacto__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contacto__form-input {
    border: 0.25rem solid #282c34;
    border-radius: 0.5rem;
    padding: 0.75rem;
    outline: none;
    transition: all 0.5s;
  }
  
  .contacto__form-input:invalid {
    box-shadow: 0 0 0.5rem 0 rgb(233, 178, 0);
  }
  
  .contacto__form-input:invalid:required {
    background-image: linear-gradient(to right, #61dafb, #61dafb80);
  }
  
  .contacto__form-input:hover {
    border: 0.25rem rgb(233, 178, 0);
  }
  
  .contacto__form-input:focus {
    border: 0.1rem solid #282c34;
  }
  
  .contacto__form-input::placeholder {
    color: #282c34;
  }
  
  .contacto__form-button {
    align-self: center;
    background-color: #61dafb;
    border: 0.1rem solid #61dafb;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #20232a;
    transition: all 0.5s;
  }
  
  .contacto__form-button:hover {
    border: 0.1rem solid #20232a;
    background-color: #fff;
  }
  .redes{
    text-align: center;
    padding: 4rem 0;
    background: rgba(97,218,251,1)
  }
  .redes__tittle{
    margin: 2rem;
    font-size: 2rem;
    text-shadow: 0.3rem 0.3rem 0 rgba(0, 110, 255, 0.582);
  }
  .footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background: rgba(97,218,251,1)

  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
  }
  .footer-nav__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .footer__link-icon-container {
    display: flex;
    transition: all 0.5s;
    max-width: 2.5rem;
    padding: 1rem 0.3rem 1rem 0.3rem;
  }
  
  .footer__link-icon-container:hover {
    transform: scale(1.25);
  }
  
  .footer__link-icon {
    width: 2rem;
    transition: width 2s, height 2s, transform 2s;
  }
  .footer__link-icon:hover {
    width: 2.5rem;
    transform: rotate(360deg);
  }
  .wave-separator__wave-container {
    display: flex;
    margin: auto;
  }
  
  .wave-separator__wave {
    width: auto;
  }
  @media only screen and (max-width: 767px){
    .bienvenida__titulo{
      max-width: 100%;
      font-size: 4.2rem;
    }
    .bienvenida__intro{
      max-width: 100%;
      font-size: 2.2rem;
    }
    .bienvenida__portada{
      width: 100%;
      height: 30rem;
    }
    .productos__title{
      overflow: hidden;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
    }
  }
  @media (min-width: 600px){
    .header-nav__menu-icon {
      display: none;
    }
    .header-nav__link-list {
      position: static;
      flex-direction: row;
      width: auto;
      background-color: inherit;
    }
    .header-nav__link {
      font-size: 1rem;
      color: black;
    }
    .bienvenida__imagen-container{
      display: flex;
      align-items: center;
      padding: 0;
      margin: auto;
    }
    .footer-nav {
      padding: 0;
      max-width: 64rem;
      margin: auto;
    }
  
    .footer-nav__link-list {
      gap: 1.5rem;
    }
  
    .footer-nav__link {
      width: 2rem;
    }
    .productos-products-contenedor{
      align-items: center;
      padding: 0;
      max-width: 64rem;
      margin: auto;
    }
    .productos__products-image-container{
      max-width: 20rem;
    }
    .productos__products-image{
      flex: 1;
    }
    .bienvenida__titulo{
      gap: auto;
      margin: auto;
      font-size: auto;
      max-width: auto;
    }
    
   }
  
  img{
    max-width: 100%;
    height: auto;
  }
  .footer-nav__credits {
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 -0.25rem 0.25rem -0.25rem var(--theme-color);
  }
  
  .footer-nav__credits-author {
    color: var(--highlight-color-1);
    text-decoration: none;
  }
  .reloj { width: 150px; height: 30px; padding: 5px 10px; border: 1px solid black; 
    font: bold 1.5em dotum, "lucida sans", arial; 
    text-align: center;
    float: right; margin: 1em 3em 1em 1em; }
  
  .lista_cantidades{
    font-size: 1rem;
    border-color: rgb(127, 240, 255);
    background-color: rgba(127, 255, 212, 0.315);
  }